<!DOCTYPE html>
<html>
<head>
  <!-- uses the full_title method in the application_helper with the title provided by each page -->
  <title><%= full_title(yield(:title)) %></title> 
  <%= stylesheet_link_tag('application', {media: 'all', 'data-turbolinks-track' => true}) %>
  <!-- The () and {} are optional as seen below {} only optional if it's the last param-->
  <!-- becomes <link rel="stylesheet" media="all" href="/assets/static_pages-069e88c06b889877799890854d7f4c40.css?body=1" data-turbolinks-track="true" /> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
