<!DOCTYPE html>
<html>
<head>
  <!-- uses the full_title method in the application_helper with the title provided by each page -->
  <title><%= full_title(yield(:title)) %></title> 
  <%= stylesheet_link_tag('application', {media: 'all', 'data-turbolinks-track' => true}) %>
  <!-- The () and {} are optional as seen below {} only optional if it's the last param-->
  <!-- becomes <link data-turbolinks-track="true" href="/assets/application.css" media="all" rel="stylesheet" /> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- inserts the _shim.html.erb partial -->
  <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
</body>
</html>
